<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/clock.css">
    <link rel="stylesheet" href="css/fonts/Share-Tech-Mono.css">
    
</head>
<body>
    
    <div id="clock">
        <p class="date">{{ date }}</p>
        <p class="time">{{ time }}</p>
        <p class="text">Build with Heart & Vue.js ({{Vue.version}})</p>
        
    </div>


    <script src="js/vue/2.3.4/vue.min.js"></script>
    <script src="js/clock.js"></script>

</body>
</html>

