body {
    margin: 5px;
    background-color: #050505;
  }
  
  .glyphicon-th {
    cursor: grab;
    cursor: -webkit-grabbing;
  }
  
  li {
    cursor:grab;
    font-size: larger;
    color: gold;
    text-shadow: 0 0 2px gold, 0 0 5px gold;
  
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: " (...)";
    white-space: nowrap;
  
  }
  
  li:hover {
      color: white;
      text-shadow: none;
  }
  
  a{text-decoration: none;}
  
  h1,h2 {color:gray}


