* {
    margin: 0;
    padding: 0;
}
img {
    height: 390px;
}
body {
    background: #111;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }
  .swiper-container {
    width: 800px;
    height: 600px;
    padding: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 392px;
    background: #000;
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0006);
  }