iframe {border-style: none; margin: 5px;}
.topinput {width: 100%; font-family:Verdana,Arial,sans-serif; color: #666666;}  
a:link {text-decoration: none}  

a:link {text-decoration: none !important;}
a, div, u {text-decoration: none !important;}
.gs-title {text-decoration: none !important;}

a {color:orange;}
            
.grid {  
    position: relative;
    width: 100%;
    padding-top: 80;
}

.grid-item {
    /* position: absolute; 
    Full Height: 1500, Default 475, Null Height: 80 */
    display: inline-block;
    width: 490px; 
    height: 80px;  
}

.frameTitle {width: 100%}

.topInput {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;    
    color: orange !important; 
    background: black;
    opacity: 0.8;
    margin: 0;
}

body {
    margin-top:0;
    font-family: Verdana,Arial,sans-serif;
    color: grey;
    background-color: black;
}
            
/* Scrollbar Handling  */
::-webkit-scrollbar {display: none;}
div {-ms-overflow-style: none; overflow: none;}
iframe {-ms-overflow-style: none; overflow: none;}
html {-ms-overflow-style: none; overflow: none;} 