
    <head><title>kAbouM - Multifinder</title>
 
    <!-- jquery 2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
 
    <!-- jquery ui -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- jquery ui touch punch -->
    <script src="lib/bower_componente/jquery-ui-touch-punch-improved/jquery.ui.touch-punch-improved.js"></script>
    
    <!-- shuffle.js -->
    <script src="lib/bower_componente/shufflejs/dist/jquery.shuffle.js"></script>  

    <!-- Packery
    <script src="https://npmcdn.com/packery@2.0/dist/packery.pkgd.min.js"></script> -->

    <!-- shapeshift.js 
    <script src="lib/jquery.shapeshift.js"></script>-->

    <!-- -->
        <style>
            iframe {border-style: none; margin: 5px;}
            .topinput {width: 100%; font-family:Verdana,Arial,sans-serif; color: #666666;}  
            a:link {text-decoration: none}  
            
            a:link {text-decoration: none !important;}
            a, div, u {text-decoration: none !important;}
            .gs-title {text-decoration: none !important;}
            
            a {color:orange;}
                        
            .grid {  
                position: relative;
                width: 100%;
                padding-top: 80;
            }

            .grid-item {
                /* position: absolute; 
                Full Height: 1500, Default 475, Null Height: 80 */
                display: inline-block;
                width: 490px; 
                height: 80px;  
            }
            
            .frameTitle {width: 100%}
            
            .topInput {
                position: fixed;
                width: 100%;
                height: 50px;
                z-index: 999;    
                color: orange !important; 
                background: black;
                opacity: 0.8;
                margin: 0;
            }
            
            body {margin-top:0}
                      
            /* Scrollbar Handling  */
            ::-webkit-scrollbar {display: none;}
            div {-ms-overflow-style: none; overflow: none;}
            iframe {-ms-overflow-style: none; overflow: none;}
            html {-ms-overflow-style: none; overflow: none;}                
        </style>
            
    <script language="javascript">
        
        function doSubmit()
        {
            // Eingabe aus erstem Formfeld auslesen:
            // .iframer {display: inline-block; vertical-align: top;}
            
            var myTxtInputs = frames[0].document.forms[0].getElementsByTagName('input');
            var mySearch = myTxtInputs[0].value;
            
            // Value über alle Felder verteilen und Submitten: 
            for (i = 0; i < frames.length; i++) { 
                var myInputs = frames[i].document.forms[0].getElementsByTagName('input');
                var myTxt = myInputs[0]; 
                var myBtn = myInputs[2];                
                
                myTxt.value = mySearch;
                myBtn.click();                    
            }                            
           setFrameHeight ('116px');
        }
              
       function getElementByXpath(path) {
                    return document.evaluate(path, document, null, XPathResult.ANY_TYPE, null);
       }
       
       function onMyFrameLoad (what) {
           alert(what.id);
       }


       function setFrameHeight (myHeight) {
                var myFrames =  document.getElementsByClassName('grid-item');                   
                for(i=0; i<myFrames.length; i++) {
                    myFrames[i].style.height = myHeight;
            }
           
       }
       
       
    </script>
  
    </head>    

    <body scroll="no" bgcolor="black" text="grey" style="font-family:Verdana,Arial,sans-serif">
        
       <div class="topinput">
           <p align="center"><a href="javascript:doSubmit();">kAbouM them all (19)</a> | <a href="javascript:setFrameHeight('116px');">Small</a> | <a href="javascript:setFrameHeight('490px');">Medium</a> | <a href="javascript:setFrameHeight('1375px');">Large</a> </p>
       </div>
       
     <div class="grid" align="center">

<!-- Common -->
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Wikipedia</td><td align="right"></td></tr></table>
        <iframe id="wikipedia"      width="100%" height="100%"  src="search/wikipedia.html"  sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>
       
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Twitter</td><td align="right"></td></tr></table>
           <iframe id="twitter"     width="100%" height="100%"  src="search/twitter.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>


<!-- Metaportale -->

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Discogs</td><td align="right"></td></tr></table>
           <iframe id="discogs"     width="100%" height="100%"  src="search/discogs.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>      

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Musicbrainz</td><td align="right"></td></tr></table>
           <iframe id="musicbrainz" width="100%" height="100%"  src="search/musicbrainz.html" sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>


<!-- Video & Film -->
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Youtube</td><td align="right"></td></tr></table>
           <iframe id="youtube"     width="100%" height="100%"  src="search/youtube.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Vimeo</td><td align="right"></td></tr></table>
           <iframe id="vimeo"       width="100%" height="100%"  src="search/vimeo.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM IMDB</td><td align="right"></td></tr></table>
           <iframe id="imdb"       width="100%" height="100%"  src="search/imdb.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>
            


<!-- Direct Music -->
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Spotify</td><td align="right"></td></tr></table>
           <iframe id="spotify"     width="100%" height="100%"  src="search/spotify.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Soundcloud</td><td align="right"></td></tr></table>
           <iframe id="soundcloud"  width="100%" height="100%"  src="search/soundcloud.html"  sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>

<!-- Live -->
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Live</td><td align="right"></td></tr></table>
           <iframe id="live"        width="100%" height="100%"  src="search/live.html"        sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>


<!-- Songtexts -->       
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Lyrics (com)</td><td align="right"></td></tr></table>
           <iframe id="lyrics_com"       width="100%" height="100%"  src="search/lyrics_com.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Lyrics (de)</td><td align="right"></td></tr></table>
           <iframe id="lyrics_de"       width="100%" height="100%"  src="search/lyrics_de.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>


<!-- Pictures --> 
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Instagram</td><td align="right"></td></tr></table>
           <iframe id="instagram"   width="100%" height="100%"  src="search/instagram.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM FlickR</td><td align="right"></td></tr></table>
           <iframe id="flickr"      width="100%" height="100%"  src="search/flickr.html"      sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>


<!-- Portals -->
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Last.FM</td><td align="right"></td></tr></table>
           <iframe id="last_fm"     width="100%" height="100%"  src="search/last_fm.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>
       
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Laut.de</td><td align="right"></td></tr></table>
           <iframe id="laut_de"     width="100%" height="100%"  src="search/laut_de.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>  

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Residental Advisor</td><td align="right"></td></tr></table>
           <iframe id="resident"       width="100%" height="100%"  src="search/resident.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>


<!-- Musikbranche -->
       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Musikmarkt</td><td align="right"></td></tr></table>
           <iframe id="musikmarkt"  width="100%" height="100%"  src="search/musikmarkt.html"     sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>

       <div class="grid-item"><table class="frameTitle"><tr><td></td><td align="center">kAbouM Musicline</td><td align="right"></td></tr></table>
           <iframe id="musicline"   width="100%" height="100%"  src="search/musicline.html"   sandbox="allow-same-origin allow-scripts allow-forms allow-top-navigation allow-popups-to-escape-sandbox allow-popups allow-modals"></iframe></div>


                           
     </div>
    </body>
</html>